<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.home-cierre {
  margin-top: 70px;
  padding: 50px 20px;
  background-color: #f8f9fb;
  text-align: center;
  border-radius: 15px;
}

.home-cierre p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #444;
  max-width: 700px;
  margin: auto;
  line-height: 1.8;
  font-style: italic;
}
</style>
<!-- end Simple Custom CSS and JS -->
